* {
	box-sizing: border-box;
}
html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: 'arial';
	background: skyblue;
}
.app {
	position: relative;
	width: 100vw;
	max-width: 640px;
	margin: 0 auto;
	height: 100vh;
	font-size: 19px;
	box-shadow: 0 0 4px #112;
}
ul {
	margin: 0;
}

.configuration,
.attackSequence,
.damageRolls {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
}
.configuration.show,
.attackSequence.show,
.damageRolls.show {
	display: block;
}
.configuration {
	padding-bottom: 100px;
}
.attackSequence,
.damageRolls {
	padding-bottom: 60px;
}
.configuration form,
.attackSequence ul,
.damageRolls ul {
	width: 100%;
	height: 100%;
	padding-bottom: 1em;
	overflow-y: auto;
}

.configuration form * {
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
}
.configuration h3 {
	text-align: center;
	margin-bottom: 0;
	padding: 0.1em;
	background: #fea;
	border-bottom: 1px solid #ed9;
}
.configuration .actionType {
	line-height: 2em;
	text-align: center;
}
.configuration .actionType select {
	padding: 0.3em;
	border-radius: 3px;
}
.configuration ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	box-shadow: 0 2px 4px #ccc;
}
.configuration ul li {
	position: relative;
	height: 2em;
	background: #fcfcfc;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #eee;
	line-height: 1.5em;
	vertical-align: middle;
}
.configuration input {
	width: 1.5em;
	height: 100%;
	text-align: left;
	margin: 0 0 0 15px;
}
.configuration label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 4px 0 0 50px;
}
.configuration .teaser {
	position: absolute;
	bottom: 60px;
	width: 100%;
	max-width: 640px;
	background: lightskyblue;
}
.configuration .attackTeaser,
.configuration .damageTeaser {
	float: left;
	height: 40px;
	line-height: 40px;
	color: #ffd;
	text-align: center;
}
.configuration .attackTeaser {
	width: 70%;
}
.configuration .damageTeaser {
	width: 30%;
	background: crimson;
}
.configuration button {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-width: 640px;
	height: 60px;
	background: deepskyblue;
	border: 0;
	font-size: 2em;
	color: #ffd;
	cursor: pointer;
}

.navigate {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-width: 640px;
	height: 60px;
}
.navigate button {
	height: 60px;
	background: deepskyblue;
	border: 0;
	font-size: 1.5em;
	color: #ffd;
	cursor: pointer;
}
.navigate .back {
	width: 35%;
}
.navigate .next {
	width: 65%;
}
