* {
	box-sizing: border-box;
}

html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: 'arial';
}

#root,
.app {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 19px;
}

.configuration {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 100px;
	background: white;
}

.configuration form {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.configuration h3 {
	text-align: center;
	margin-bottom: 0.5em;
}

.configuration ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.configuration ul li {
	position: relative;
	height: 1.8em;
	line-height: 1.4em;
	vertical-align: middle;
}

.configuration input {
	width: 1.5em;
	height: 100%;
	text-align: left;
	margin: 0 0 0 15px;
}
.configuration label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 4px 0 0 50px;
}

.configuration button {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: deepskyblue;
	border: 0;
}