* {
	box-sizing: border-box;
}

html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: 'arial';
	background: skyblue;
}

#root {
	position: absolute;
	top: 0;
	left: 50%;
}
.app {
	position: absolute;
	width: 100vw;
	max-width: 640px;
	height: 100vh;
	font-size: 19px;
	transform: translateX( -50% );
	box-shadow: 0 0 4px #112;
}

.configuration {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 100px;
	background: white;
}

.configuration form {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.configuration h3 {
	text-align: center;
	margin-bottom: 0;
}

.configuration ul {
	list-style: none;
	max-width: 480px;
	margin: 0 auto;
	padding: 0;
}
.configuration ul li {
	position: relative;
	height: 1.8em;
	line-height: 1.4em;
	vertical-align: middle;
}

.configuration input {
	width: 1.5em;
	height: 100%;
	text-align: left;
	margin: 0 0 0 15px;
}
.configuration label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 4px 0 0 50px;
}

.configuration .teaser {
	position: fixed;
	bottom: 60px;
	left: 0;
	width: 100%;
	max-width: 640px;
	background: lightskyblue;
}
.configuration .attackTeaser,
.configuration .damageTeaser {
	float: left;
	height: 40px;
	line-height: 40px;
	color: #ffd;
	text-align: center;
}
.configuration .attackTeaser {
	width: 70%;
}
.configuration .damageTeaser {
	width: 30%;
	background: crimson;
}
.configuration button {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 640px;
	height: 60px;
	background: deepskyblue;
	border: 0;
	font-size: 2em;
	color: #ffd;
	cursor: pointer;
}